@{
    ViewData["Title"] = "CRM Ärendelista";
}

<div class="text-center">
    <h1>CRM</h1>
    <p>Välkommen till CRM-systemet!</p>
    <p>
        <img src="~/img/computer-1343393_960_720.jpg" class="img img-fluid" style="width:800px"/>
    </p>
</div>
